* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* {
  font-family: "Roboto Slab", serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 4.5rem;
}
html {
  overflow-x: hidden;
}
body {
  background-image: url(./img/background-layer.svg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
header {
  height: 40vh;
  text-align: center;
  font-size: 2rem;
  color: aliceblue;
  line-height: 7rem;
}
main {
  background-image: linear-gradient(rgb(0, 102, 255), rgb(12, 35, 70));
  color: rgb(207, 225, 230);
}
.section {
  display: flex;
  margin-top: 5vh;
}
.container {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}
.container h2 {
  font-size: 2.9rem;
  line-height: 5rem;
}
.container p {
  font-size: 1.4rem;
  line-height: 1.5;
}
.container img {
  width: 100%;
  height: auto;
}
footer {
  text-align: center;
  background-image: linear-gradient(rgb(12, 35, 70), black);
  padding-top: 4rem;
  padding-bottom: 20rem;
  position: relative;
}
footer .img1 {
  position: absolute;
  transform: translateX(-680px);
  width: 20%;
  height: auto;
}
.trash {
  width: 20%;
  height: auto;
  position: absolute;
  transform: translateX(300px);
}

footer h3 {
  font-size: 3.5em;
  color: aliceblue;
}
footer p {
  font-size: 1.4rem;
  color: aliceblue;
}
footer a {
  border: 1px solid rgb(15, 15, 119);
  font-size: 1.4rem;
  color: aliceblue;
  background-color: transparent;
  text-decoration: none;
  border-radius: 10px;
  padding: 20px;
  animation-duration: 500ms;
  margin-top: 20px;
}
footer a:hover {
  background-color: rgb(7, 31, 37);
  text-decoration: underline;
}
.ftxt {
  margin-bottom: 3rem;
}
@media screen and (max-width: 1000px) {
  .trash {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  header {
    font-size: 2px;
    line-height: 5rem;
    display: inline-block;
  }
  header h1 {
    font-size: 2.9rem;
    line-height: normal;
  }
  .container {
    width: 90%;
  }
  .trash {
    display: none;
  }
  footer .img1 {
    position: absolute;
    transform: translateY(190px);
    width: 40%;
    height: auto;
  }
}
@media screen and (max-width: 700px){
  footer .img1{
    transform: translateY(300px);
  }
}
@media screen and (max-width: 370px){
  footer .img1{
    transform: translateY(400px);
  }
}
.invisible {
  display: none;
}
.anim {
  animation-name: anim;
  animation-duration: 2s;
}
@keyframes anim {
  from {
    transform: translateX(-1300px);
  }
}

.animtrash {
  animation-name: flowin;
  animation-duration: 2s;
}
@keyframes flowin {
  from {
    transform: translateX(700%);
  }
}
